<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <div class="jumbotron">
<p>Weight is : @Model.GetWeight()</p>
<p>Height is : @Model.GetHeight()</p>
<p>Length is : @Model.GetLength()</p>
<p>Width is : @Model.GetWidth()</p>
<h2>Volume is : @Model.GetVolume()</h2>
<h2>Shipping Cost : $@Model.CostToShip()</h2>

<h2>@Model.Alert()</h2>
</div>
  </body>
</html>
